.img__wrapper{
    overflow: hidden;
}  

.product__image{
    height: 350px;
    width: 100%;
}
/* 
.product__image:hover{
    transform: scale(1.5);
} */

.productDetails__name{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
}

.productDetails__price{
    margin-top: -6px;
    font-size: 1.2rem;
    color: rgb(27, 24, 24);
    font-weight: 500;
}

.productDetails__form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}


.productSize__heading{
    text-transform: capitalize;
    font-weight: 500;
    color: rgb(114, 114, 114);
    font-size: 1.1rem;
    margin-bottom: 5px;
    display: block;
}

.productDetails__quantity{
    margin-top: 15px;
}

.productQuantity__heading{
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 500;
    color: rgb(114, 114, 114);
    font-size: 1.1rem;
}

.productDetails__cart{
    margin-top: 20px;
}

.cart__button{
    outline: none;
    border: 1px solid black;
    padding: 10px;
    width: 80%;
    text-transform: uppercase;
    font-size: 0.9rem;
    background-color: white;
}

.cart__button:hover{
    color: white;
    background-color: black;
}

.productDetails__buyNow{
    margin-top: 20px;
}

.buyNow__button{
    outline: none;
    border: 1px solid black;
    padding: 10px;
    width: 80%;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: white;
    background-color: black;
    margin-bottom: 10px;
}

.buyNow__button:hover{
    color: black;
    background-color: white;
}

.quantity__selector{
    margin-top: 10px;
    color: black;
    display: flex;
    width: 40%;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-between;
}

.quantity__increase{
    font-size: 1.2rem;
    cursor: pointer;
}

.quantity__decrease{
    font-size: 1.2rem;
    cursor: pointer;
}

.product__description{
    text-align: justify;
    /* text-transform: uppercase; */
}

.productDetails{
    background-color: rgb(246,246,246);
}

.size__container{
    display: flex;
    justify-content: space-around;
}