
.view__card{
    max-width: 300px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    border-radius: 20px;
}

.view__card:hover{
    box-shadow:  0 2em 2em rgba(9, 142, 146, 0.1);
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

.card__image{
    max-width: 260px;
    margin-bottom: 0.7rem;
    border-radius: 20px;
}

.card__name{
    /* font-size: 1.5rem; */
    text-transform: uppercase;
    color: rgb(46, 46, 46);
}

.card__brand{
    color: rgb(37, 39, 26);
    /* font-size: 1.4rem; */
    text-transform: uppercase;
    margin-top: -5px;
    /* font-weight: 400; */
    text-decoration: none;
}

.card__price{
    /* font-size: 1.5rem; */
    margin-top: -5px;
    color: rgb(15, 14, 14);
}

.card__sizes{
    color: red;
    /* font-size: 1.3rem; */
}

/* .carousel .carousel-indicators li {background-color: red;} */