.view__card{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__image{
    max-width: 260px;
    margin-bottom: 0.7rem;
    border-radius: 20px;
}

.card__name{
    font-size: 2.5rem;
}

.card__brand{
    color: rgb(183,200,106);
    font-size: 1.9rem;
    margin-top: -15px;
    font-weight: 400;
}

.card__price{
    font-size: 1.5rem;
    margin-top: -10px;
}

.card__sizes{
    color: red;
    font-size: 1.3rem;
}